.inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

@mixin btn($color: null) {
  @if $color !=null {
    background-color: $color;
  }

  // 他のスタイル
}


$map: (
  "line": #00B900,
  "instagram": #CF2E92,
  "facebook": #71d0f2,
  "X": #000000 // black を16進数で指定
);


$snsClass: "line", "instagram", "facebook", "X";