// 共通スタイルやmixinのインポート
@use './common'; // _common.scssをインポート

// Mixin: メディアクエリ用
@mixin media($media-width: 768px) {
  @media screen and (max-width: $media-width) {
    @content;
  }
}

// コンテンツ: アイテムのスタイル
.item {
  image {
    float: left;
    // SP版
    @include media {
      float: none;
    }
  }
  .text {
    overflow: hidden;
    margin-left: 15px;
    // SP版
    @include media {
      margin-left: 0;
    }
  }
}

// Mixin: SNSボタンスタイル
@mixin sns-button($class, $color) {
  @if $class == "line" or $class == "instagram" or $class == "facebook" or $class == "X" {
    .content__sns__btn.is-#{$class} {
      display: block; // 共通スタイル
      padding: 20px 30px;
      color: #fff;
      border-radius: 6px;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      margin-bottom: 10px; // ボタン同士の余白を追加
      background-color: $color; // 色を適用
      @include common.btn($color); // 共通ボタンスタイルを適用
    }
  }
}

// SNSボタンのクラスを生成する
@each $class in common.$snsClass {
  @if map-has-key(common.$map, $class) {
    @include sns-button($class, map-get(common.$map, $class)); // クラスを生成
  }
  @else {
    @warn "Class #{$class} is not defined in common.$map"; // 警告を出す
  }
}

