// 共通スタイルやmixinのインポート
@use 'common'; // _common.scssをインポート

// Mixin: メディアクエリ用
@mixin media($media-width: 768px) {
  @media screen and (max-width: $media-width) {
    @content;
  }
}

// 変数: SNSボタン用の色マップ
$button-map: (
  "line": #00B900,
  "instagram": #CF2E92,
  "facebook": #71d0f2,
  "X": black
);

// コンテンツ: アイテムのスタイル
.item {
  image {
    float: left;
    // SP版
    @include media {
      float: none;
    }
  }
  .text {
    overflow: hidden;
    margin-left: 15px;
    // SP版
    @include media {
      margin-left: 0;
    }
  }
}

// SNSボタンの共通スタイル
.content__sns__btn {
  display: block; // SNSボタンをブロック要素に設定
  padding: 20px 30px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px; // ボタン同士の余白を追加
}

// SNSボタンごとの色を設定
@each $sns, $color in $button-map {
  .content__sns__btn.is-#{$sns} {
    background-color: $color; // SNSごとに異なる色を適用
  }
}
